<!-- Toolset buttons -->
<div class="shadow-box tool-button">
  <!-- Point of Interest tool button -->
  <button mat-icon-button color="primary" (click)="addFiliale()">
    <mat-icon>
      add_circle
    </mat-icon>
  </button>
</div>
<!-- Space between the tools -->
<span id="spacer"></span>
<div class="shadow-box tool-button">
  <!-- Layermanager tool button -->
  <button mat-icon-button color="primary" (click)="onToolButtonClick(StandardToolsetEnum.LAYER_MANAGER)">
    <mat-icon>
      layers
    </mat-icon>
  </button>
</div>

<!-- Toolset Templates -->
<!-- Layermanager Tool Window -->
<app-layer-manager  *ngIf="activeTool === StandardToolsetEnum.LAYER_MANAGER"></app-layer-manager>
