@import './src/styles/abstracts/mixins.scss';

:host {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  height: 40px;
  bottom: var(--margin-lg);
  left: var(--margin-lg);

  .shadow-box {
    @include basic-box-shadow;
  }

  .tool-button {
    background-color: white;
  }

  .animation-container {
    overflow: hidden;
    position: absolute;
    bottom: calc(var(--margin-sm) + 40px);
    border-radius: 0;
    border: 1px solid var(--blue);
    z-index: var(--layer-base);
  }

  #spacer {
    width: var(--margin-sm);
  }
}
