<div>
    <ng-container *ngFor="let layerConfiguration of layerManagerEntries; let first = first; let last = last">
        <mat-card class="items">
            <mat-checkbox class="items-checkbox" [checked]="layerConfiguration.visibility" (change)="setLayerVisibility($event, layerConfiguration.layerIdentifier)">
            </mat-checkbox>
            <mat-card-title>
                {{layerConfiguration.layerIdentifier}}
            </mat-card-title>
        </mat-card>
    </ng-container>
</div>
