<ng-container *ngIf="(objectWindowService.currentlySelectedFeature | async) as currentlySelectedFeature">
  <ng-container *ngIf="currentlySelectedFeature.type === featureTypeEnum.FILIALE else gebiet">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Filiale {{currentlySelectedFeature.properties.id}}
        </mat-card-title>
        <button class="close-button" mat-icon-button color="primary" (click)="closeObjectWindow()">
          <mat-icon>
            close
          </mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>Parkplätze:
            <!--          {{objectWindowService.currentlySelectedFeature.properties.parkplaetze | number}}-->
            <mat-form-field class="object-form-field">
              <input matInput type="text"
                     [ngModel]="currentlySelectedFeature.properties.parkplaetze | number"
                     (ngModelChange)="currentlySelectedFeature.properties.parkplaetze = $event"
              >
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>Verkaufsfläche:
            <mat-form-field class="object-form-field">
              <input matInput type="text"
                     [ngModel]="currentlySelectedFeature.properties.verkaufsflaeche | number"
                     (ngModelChange)="currentlySelectedFeature.properties.verkaufsflaeche = $event"
              >
            </mat-form-field>
            <!--          {{objectWindowService.currentlySelectedFeature.properties.verkaufsflaeche | number}} -->
            m²</mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button class="calc-button" mat-icon-button color="primary" (click)="calculateGravitationModelForFiliale()">
          <mat-icon>
            miscellaneous_services
          </mat-icon>
          Berechne Model
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>

  <ng-template #gebiet>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Zensusgebiet {{currentlySelectedFeature.properties.id}}
        </mat-card-title>
        <button class="close-button" mat-icon-button color="primary" (click)="closeObjectWindow()">
          <mat-icon>
            close
          </mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>Einwohner: {{currentlySelectedFeature.properties.einwohner | number}}</mat-list-item>
          <mat-list-item>Kaufkraft: {{currentlySelectedFeature.properties.kaufkraft | number}} €</mat-list-item>
          <mat-list-item>Ausgaben Lebensmittel: {{currentlySelectedFeature.properties.spendituteGroc | number}} €</mat-list-item>
          <mat-list-item>Wahrscheinlichkeitsfaktor: {{currentlySelectedFeature.properties.probability}}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </ng-template>
</ng-container>

