<ng-container *ngIf="(objectWindowService.currentlySelectedFeature$ | async) as currentlySelectedFeature">
  <ng-container *ngIf="currentlySelectedFeature.type === featureTypeEnum.FILIALE else gebiet">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Filiale {{currentlySelectedFeature.id}}
        </mat-card-title>
        <button class="close-button" mat-icon-button color="primary" (click)="closeObjectWindow()">
          <mat-icon>
            close
          </mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>Parkplätze:
            <!--          {{objectWindowService.currentlySelectedFeature$.properties.parkplaetze | number}}-->
            <mat-form-field class="object-form-field">
              <input matInput type="number" required
                     [ngModel]="currentlySelectedFeature.parkplaetze | number"
                     (ngModelChange)="currentlySelectedFeature.parkplaetze = $event; updateFeature(currentlySelectedFeature)"
              >
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>Verkaufsfläche:
            <mat-form-field class="object-form-field">
              <input matInput type="number" required
                     [ngModel]="currentlySelectedFeature.verkaufsflaeche | number"
                     (ngModelChange)="currentlySelectedFeature.verkaufsflaeche = $event; updateFeature(currentlySelectedFeature)"
              >
            </mat-form-field>
            <!--          {{objectWindowService.currentlySelectedFeature$.properties.verkaufsflaeche | number}} -->
            m²</mat-list-item>
          <mat-list-item>Marktanteil in Euro: {{currentlySelectedFeature.marketShare | number}} €</mat-list-item>
          <mat-list-item>Marktanteil in Prozent: {{currentlySelectedFeature.marketSharePercentage | percent}}</mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button class="calc-button" mat-icon-button color="primary"
                [disabled]="!(currentlySelectedFeature.parkplaetze > 0) && !(currentlySelectedFeature.verkaufsflaeche > 0)"
                (click)="calculateGravitationModelForFiliale(currentlySelectedFeature.id)">
          <mat-icon>
            miscellaneous_services
          </mat-icon>
          Berechne Huff-Modell
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>

  <ng-template #gebiet>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Zensusgebiet {{currentlySelectedFeature.id}}
        </mat-card-title>
        <button class="close-button" mat-icon-button color="primary" (click)="closeObjectWindow()">
          <mat-icon>
            close
          </mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>Einwohner: {{currentlySelectedFeature.einwohner | number}}</mat-list-item>
          <mat-list-item>Kaufkraft: {{currentlySelectedFeature.kaufkraft | number}} €</mat-list-item>
          <mat-list-item>Ausgaben Lebensmittel: {{currentlySelectedFeature.spendituteGroc | number}} €</mat-list-item>
<!--          Todo Delete is same as marktanteil in prozent -->
          <mat-list-item>Wahrscheinlichkeitsfaktor: {{currentlySelectedFeature.probability}}</mat-list-item>
          <mat-list-item>Marktanteil der Filiale im Gebiet in Euro: {{currentlySelectedFeature.marketShareLocale | number}} €</mat-list-item>
          <mat-list-item>Marktanteil der Filiale im Gebiet in Prozent: {{currentlySelectedFeature.marketShareLocalePercentage | percent}}</mat-list-item>
          <mat-list-item>Indicator: {{currentlySelectedFeature.indicator}}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </ng-template>
</ng-container>

