:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 115px;
  left: 50px;
  width: 355px;
  background: lightblue;

  .calc-button {
    padding-left: 16px;
  }

  .close-button {
    position: absolute;
    left: 300px;
  }

  .object-form-field {
    width: 60px;
    margin-left: 10px;
  }

  mat-card-header {
    height: 100%;
    line-height: 40px;
    text-align: center;
  }
}
