:root {
  --font-normal-light: normal 300 13px/18px 'Open Sans', OpenSans, Helvetica, Arial, sans-serif;
  --font-normal-regular: normal 400 13px/18px 'Open Sans', OpenSans, Helvetica, Arial, sans-serif;
  --font-normal-semibold: normal 600 13px/18px 'Open Sans', OpenSans, Helvetica, Arial, sans-serif;
  --font-normal-bold: normal 700 13px/18px 'Open Sans', OpenSans, Helvetica, Arial, sans-serif;
  --font-normal-extrabold: normal 800 13px/18px 'Open Sans', OpenSans, Helvetica, Arial, sans-serif;

  --font-italic-light: italic 300 13px/18px 'Open Sans', OpenSans, Helvetica, Arial, sans-serif;
  --font-italic-regular: italic 400 13px/18px 'Open Sans', OpenSans, Helvetica, Arial, sans-serif;
  --font-italic-semibold: italic 600 13px/18px 'Open Sans', OpenSans, Helvetica, Arial, sans-serif;
  --font-italic-bold: italic 700 13px/18px 'Open Sans', OpenSans, Helvetica, Arial, sans-serif;
  --font-italic-extrabold: italic 800 13px/18px 'Open Sans', OpenSans, Helvetica, Arial, sans-serif;
}
